<div class="wrap">
	<div class="container">
		<ul class="list">
			<li *ngFor="let key of firstList?.keys" (click)="selectItem(key)" [ngClass]="{selected: firstList[key].selected}">
				{{key}} {{firstList[key].name}}
			</li>
		</ul>
	</div>
	<div class="container">
		<button class="button left" (click)="toLeft()">←</button>
		<button class="button right" (click)="toRight()">→</button>
	</div>
	<div class="container">
		<ul class="list">
			<li *ngFor="let item of secondList" (click)="selectItem(item.id)">{{item.name}}</li>
		</ul>
	</div>
</div>
