<div class="wrap">
	<div class="container">
		<input type="text" #firstInput (input)="filter(firstInput.value, 1)">
		<ul class="list" (drop)="onDrop($event, 1)" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)" [ngClass]="{dragenter: dragEnter}">
			<li class="item"
				*ngFor="let key of firstListKeys"
				(click)="selectItem(key, 1)"
				[ngClass]="{selected: firstList[key].selected, hide: firstList[key].hide}"
				[draggable]="firstList[key].selected">
				{{firstList[key].name}}
			</li>
			<!-- <pre>{{firstList | json}}</pre>
			<pre>{{firstListKeys | json}}</pre> -->
		</ul>
	</div>
	<div class="buttons">
		<button class="button left" (click)="toLeft()">←</button>
		<button class="button right" (click)="toRight()">→</button>
	</div>
	<div class="container">
		<input type="text" #secondInput (input)="filter(secondInput.value, 2)">
		<ul class="list" (drop)="onDrop($event, 2)" (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)" [ngClass]="{dragenter: dragEnter}">
			<li class="item"
				*ngFor="let key of secondListKeys"
				(click)="selectItem(key, 2)"
				[ngClass]="{selected: secondList[key].selected, hide: secondList[key].hide}"
				[draggable]="secondList[key].selected">
				{{secondList[key].name}}
			</li>
			<!-- <pre>{{secondList | json}}</pre>
			<pre>{{secondListKeys | json}}</pre> -->
		</ul>
	</div>
</div>
